footer {
  background-color: #163c4d;
  padding-bottom: 70px;
  color: #fff;
}
footer h1 {
  margin-bottom: 30px;
  color: #e94560;
  font-weight: 800;
  font-style: italic;
}
footer .img {
  background-color: #0c2a4d;
  padding: 15px 20px;
  border-radius: 5px;
}
footer .img i {
  font-size: 20px;
  margin: 5px;
}
footer .img span {
  margin-top: 5px;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
}
footer h2 {
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 10px;
  opacity: 1;
}

#textfooter {
  color: white;
  opacity: 200%;
  width: 80%;
  margin-left: 4%;
}

.boxtwo {
  margin-top: 80px;
}

#logowhite {
  margin-top: 15%;
  width: 80%;
}